<div id="form-detail">
    <h3>Overview > Form</h3>
    <div id="form-detail-header">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Form name" aria-label="Form name">
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Form description" aria-label="Form desc">
        </div>
    </div>
    <div id="form-detail-body" class="row">
        <div class="col-12 mb-3">
            <app-form-wrapper></app-form-wrapper>
        </div>
    </div>
</div>