<div class="row">
    <div style="width: 50%;" class="input-group col-6">
        <span class="input-group-text">Min</span>
        <input type="number" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <div style="width: 50%;" class="input-group col-6">
        <span class="input-group-text">Max</span>
        <input type="number" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
    </div>
</div>